@import '~styles/common.less';

wb-page-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .tagline {
    margin-right: 20px;
  }

  .toolbar {
    display: flex;
    align-items: center;
    min-height: @size-page-header-min-height;
    padding: 0 0 0 12px;
    transform: translate3d(8px, 0, 0);

    .more-btn {
      margin: 0;
      padding: 4px 8px;
      height: auto;
      line-height: 1;

      .icon {
        transform: rotate(90deg);
      }
    }
  }
}

wb-page-header-extension {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  .audio-mode-switch-button {
    position: relative;
    margin-right: -5px;

    .status {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0 4px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      font-size: 8px;
      font-weight: bold;
      color: @color-fg;
      background-color: fade(@color-theme-xd, 80%);
      border-radius: 1px;
      overflow: hidden;
    }
  }
}

wb-page-content {
  display: flex;
  padding: 0 !important;
}
