<div class="head">
  <span class="hint" *ngIf="hint">{{hint}}</span>
</div>
<wb-selection-list [multiple]="multiple" (change)="onSelectionListChange($event)">
  <wb-selection-list-item
    *ngFor="let item of items"
    [selected]="item.selected"
    [value]="item.value">
    <div class="title">
      <span class="text">{{item.text}}</span>
      <span class="comment" *ngIf="item.comment">{{item.comment}}</span>
    </div>
    <span class="icon check"></span>
  </wb-selection-list-item>
</wb-selection-list>
