// stylelint-disable
@font-face {
  font-family: 'wb-iconfont'; /* project id 460943 */
  src: url('//at.alicdn.com/t/font_460943_7vvucolkxa1w0zfr.eot');
  src: url('//at.alicdn.com/t/font_460943_7vvucolkxa1w0zfr.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_460943_7vvucolkxa1w0zfr.woff') format('woff'),
    url('//at.alicdn.com/t/font_460943_7vvucolkxa1w0zfr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_460943_7vvucolkxa1w0zfr.svg#wb-iconfont')
      format('svg');
}
// stylelint-enable

.icon {
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;

  &::before {
    display: block;
    font-family: 'wb-iconfont' !important;
  }
}

.icon.back::before {
  content: '\e626';
}

.icon.search::before {
  content: '\e64f';
}

.icon.voice::before {
  content: '\e61d';
}

.icon.more::before {
  content: '\e629';
}

.icon.plus::before {
  content: '\e65d';
}

.icon.check::before {
  content: '\e687';
}
