<div class="word-list-wrapper" [style.height]="wordListWrapperHeight">
  <ng-container *ngFor="let card of words$ | async; let index=index; trackBy:trackByTerm" >
    <wb-study-view-word-card
      *ngIf="card"
      [@wordCardTransitions]="enabledWordCardTransitions ? 'default' : 'enter-' + index"
      [data]="card"
      [style.top]="calculateWordCardTopPosition(index)">
    </wb-study-view-word-card>
  </ng-container>
</div>

<wb-study-view-word-detail-card #wordDetailCard
  *ngIf="activeWord$ | async"
  [data]="activeWord$ | async">
</wb-study-view-word-detail-card>

<wb-study-view-notification-card
  *ngIf="notification$ | async"
  [@notificationCardTransitions]="!!enabledNotificationCardTransitions"
  [data]="notification$ | async">
</wb-study-view-notification-card>

<div class="guide-navbar" *ngIf="guideMode">
  <button class="ghost dark-text"
    *ngIf="!guiding"
    (wbPress)="skipGuide()">跳过</button>

  <button
    *ngIf="!guiding"
    (wbPress)="startGuide()">开始向导</button>

  <span *ngIf="guiding && !guideEnded"></span>

  <button
    *ngIf="continueGuideButtonVisibility"
    (wbPress)="continueGuide()">继续</button>

  <button class="ghost dark-text" *ngIf="guideEnded" (wbPress)="showGuideAgain()">再来一次</button>
  <button *ngIf="guideEnded" (wbPress)="startStudy()">开始学习</button>
</div>

<div class="progress-bar">
  <p [style.width]="(todayProgressPercentage$ | async) + '%'"></p>
</div>