<div class="word-list-wrapper" [style.height]="wordListWrapperHeight">
  <ng-container *ngFor="let card of words$ | async; let index=index;" >
    <wb-study-view-word-card
    *ngIf="card"
    [@wordCardTransitions]="!!enabledWordCardTransitions"
    [data]="card"
    [style.top]="calculateWordCardTopPosition(index)">
  </wb-study-view-word-card>
</ng-container>
</div>

<wb-study-view-word-detail-card #wordDetailCard
*ngIf="activeWord$ | async"
[data]="activeWord$ | async">
</wb-study-view-word-detail-card>

<wb-study-view-notification-card
  *ngIf="notification$ | async"
  [@notificationCardTransitions]="!!enabledNotificationCardTransitions"
  [data]="notification$ | async">
</wb-study-view-notification-card>
