<div class="word-detail-card" [class.reciting]="reciting">
  <div class="inner">
    <div class="content">
      <div class="head">
        <div class="info">
          <span class="term">{{term}}</span>
          <span class="phonetic-symbols" *ngIf="phonetic">{{phonetic}}</span>
        </div>
        <button
          class="audio-play-button {{audioMode$ | async}}"
          (wbPress)="reciteTerm()">
          <span class="audio-icon">
              <span class="icon-sprint">
                <i class="icon audio-vol-low"></i>
                <i class="icon audio-vol-middle"></i>
                <i class="icon audio-vol-max"></i>
              </span>
            </span>
        </button>
      </div>

      <div class="meanings">
        <div class="meaning" *ngFor="let meaning of meanings">{{meaning}}</div>
      </div>

      <div class="sentences" *ngIf="sentence" (wbPress)="reciteSentence(sentence.s)">
        <div class="source paragraph">{{sentence.s}}</div>
        <div class="target paragraph">{{sentence.t}}</div>
      </div>
    </div>

    <div class="removal-confirm-buttons">
      <button class="danger prevent-slide">太简单了</button>
    </div>
  </div>

  <div class="unlock-countdown"
    *ngIf="obstinate"
    [class.hidden]="hideUnlockCountdown">
    <p
      [@wordDetailCardUnlockCountdownTransitions]="true"
      (@wordDetailCardUnlockCountdownTransitions.done)="unlock()"></p>
  </div>
</div>
