<span class="text">{{selected || '-'}}</span>
<button class="ghost small dark-text" (wbTap)="showPopup()">{{selected ? '理性' : '选择'}}</button>
<wb-popup #selectionListPopup>
  <div class="selection-list-popup">
    <wb-selection-list>
      <wb-selection-list-item *ngFor="let item of collections$ | async"
        [value]="item.id">
        <span class="text">{{item.label}}</span>
        <span class="icon check"></span>
      </wb-selection-list-item>
    </wb-selection-list>
  </div>
</wb-popup>
