# compiled output
/bld

# dependencies
/node_modules


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# log files
*.log

# System Files
.DS_Store
Thumbs.db
