{
  "extends": "stylelint-config-standard",
  "rules": {
    "declaration-colon-newline-after": null,
    "value-list-comma-newline-after": null,
    "at-rule-empty-line-before": null,
    "selector-type-no-unknown": [
      true,
      {
        "ignore": ["custom-elements"]
      }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["ng-deep"]
      }
    ]
  }
}
