<wb-page #page>
  <wb-page-header>
    <div class="user-profile">
      <div class="avatar-wrapper" wbPressLink="/user-profile">
        <span class="avatar"
          [style.backgroundImage]="'url('+(userConfigService.avatarUrl$ | async)+')'"></span>
      </div>
      <div class="meta">
        <span class="meta-item displayName">{{userConfigService.displayName$ | async}}</span>
        <span class="meta-item status">
          <span class="tagline" *ngIf="!(syncService.syncing$ | async)" @fadeTransitions>{{userConfigService.tagline$ | async}}</span>
          <span class="syncing-hint" *ngIf="syncService.syncing$ | async" [@fadeTransitions]="true">正在同步数据...</span>
        </span>
      </div>
    </div>
    <div class="toolbar">
      <button class="more-btn"  wbPressLink="/settings">
        <span class="icon more"></span>
      </button>
    </div>
  </wb-page-header>

  <wb-page-content>
    <div class="content-top" *ngIf="stats$ | async as stats">
      <wb-glance-view-collection-selector #collectionSelector></wb-glance-view-collection-selector>
      <wb-glance-view-progress
        title="总体进度"
        [info]="stats.collectionStudied + '/' + stats.collectionTotal"
        [percentage]="overallProgressPercentage$ | async"
        [pendingPercentage]="overallProgressPendingPercentage$ | async">
      </wb-glance-view-progress>
      <wb-glance-view-progress
        title="今日进度"
        [info]="'已学习 ' + (todayStudyTimeInMinutes$ | async) + ' 分钟'"
        [percentage]="todayProgressPercentage$ | async"
        [pendingPercentage]="todayProgressPendingPercentage$ | async">
      </wb-glance-view-progress>

      <div class="progress-details">
        <wb-glance-view-progress-simple
          title="新学"
          [done]="stats.todayNew"
          [total]="todayNewGoal$ | async">
        </wb-glance-view-progress-simple>
        <wb-glance-view-progress-simple
          title="复习"
          [done]="stats.todayReviewed"
          [total]="stats.todayReviewGoal">
        </wb-glance-view-progress-simple>
        <wb-glance-view-progress-simple
          title="生词本"
          [done]="stats.wordsbookTodayNew"
          [total]="stats.wordsbookTotal">
        </wb-glance-view-progress-simple>
      </div>
    </div>

    <div class="content-bottom">
      <wb-glance-view-recent-study [data]="recentStudyInfo$ | async"></wb-glance-view-recent-study>
    </div>
  </wb-page-content>

  <wb-page-footer>
    <div class="flex-row buttons-wrapper">
    </div>

    <button (wbPress)="startStudy()">开始学习</button>
  </wb-page-footer>
</wb-page>
