@import '~styles/common.less';

:host {
  display: block;
}

wb-page-content {
  padding-left: 15px !important;
  padding-right: 15px !important;
  overflow: auto;

  .scrollview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
}

wb-settings-view-settings-group a {
  display: block;
  color: @color-text;
}

wb-settings-view-settings-item.user-profile-entry {
  position: relative;
  padding-left: 80px;
  height: 70px;

  .avatar {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 0;
    top: 0;
    background-size: 100% 100%;
    border-radius: 2px;
  }
}

.user-manager-menu {
  display: block;
  background-color: @color-fg;
  width: 100%;
  padding: 20px 10px;

  wb-selection-list {
    max-height: 200px;
    overflow: auto;
  }

  wb-selection-list-item {
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  wb-selection-list-item.selected {
    background-color: transparent;
  }

  wb-selection-list-item:active {
    background-color: @color-fg-f !important;
  }

  a {
    color: @color-text;
    display: block;
    width: 100%;
  }
}

.new-version-flag {
  display: block;
  height: 20px;
  font-size: 9px;
  line-height: 20px;
  padding: 0 6px;
  background-color: @color-alert-bg;
  color: @color-fg;
  border-radius: 2px;
}
