@import '~styles/common.less';

.word-card {
  position: absolute;
  width: 100%;
  z-index: 1;
  transition: opacity linear 0.1s;

  &.active {
    z-index: 2;
  }

  &.reciting > .inner .head .audio-play-button .icon-sprint {
    animation: 0.8s AudioIconPlayingAnimation steps(1, end) infinite;
  }

  > .inner,
  > .inner .content {
    will-change: transform;
    position: relative;
  }

  > .inner {
    will-change: transform, opacity;
  }

  > .inner .content {
    z-index: 1;
  }

  > .inner .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info {
      width: 90%;
      overflow: hidden;
      white-space: nowrap;
    }

    .term {
      font-size: @size-word-item-term-size;
      display: inline-block;
      color: @color-text-d;
    }

    .phonetic-symbols {
      position: relative;
      display: inline-block;
      font-size: @size-word-phonetic-symbols-size;
      font-family: Arial;
      color: @color-theme-d;
      margin-left: 5px;

      &::before,
      &::after {
        content: '/';
      }
    }

    .audio-play-button {
      @size: 24px;
      @wrapper-size: @size + 22;

      width: @wrapper-size;
      height: @wrapper-size;
      color: @color-theme;
      padding: 0;
      background-color: transparent;
      transform: translate3d(12px, 0, 0);
      transition: opacity linear 0.1s, width ease 0.2s height ease 0.2s,
        font-size ease 0.2s;
      // transition: -webkit-tap-highlight-color linear 0.2s;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);

      &.off {
        display: none;
        pointer-events: none;
      }

      .audio-icon {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      .icon-sprint {
        display: flex;
        align-items: center;
        font-size: 0;
        height: 100%;
        transform: translate3d(-46px, 0, 0);
      }

      .icon {
        flex: none;
        width: @wrapper-size;
        font-size: @size;
        font-weight: bold;
      }
    }
  }

  > .inner .removal-confirm-buttons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    z-index: 0;
  }
}

@keyframes AudioIconPlayingAnimation {
  0% {
    transform: translate3d(-46px, 0, 0);
  }

  25% {
    transform: translate3d(-92px, 0, 0);
  }

  75% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-46px, 0, 0);
  }
}
