@import '~styles/common.less';

:host {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 5px 2px 0;
  align-items: flex-start;

  &:active::after {
    background-color: @color-theme-xxf;
  }

  &::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -10px;
    right: -10px;
    bottom: -4px;
    z-index: -1;
    background-color: transparent;
    transition: @transition-background-color;
  }

  > .head {
    display: flex;
    flex-direction: column;

    .name {
      font-size: @size-text-larger;
      line-height: 30px;
    }

    .description {
      font-size: @size-text-smaller;
      line-height: 24px;
      color: @color-text-l;
      margin-left: 1px;
    }
  }

  > .extend {
    flex: none;
    padding-top: 5px;
  }
}
