<wb-page #page (wbPress)="page.toggleHeaderExtension(false)"  [wbPressStop]="false">
  <wb-page-header wbTriggerBack>
    <button class="back-button" (wbPress)="page.back()">
      <span class="icon back"></span>
      <span class="title">回收站</span>
    </button>

    <div class="toolbar">
      <button class="more-button" (wbPress)="page.toggleHeaderExtension()">
        <span class="icon more"></span>
      </button>
    </div>
  </wb-page-header>

  <wb-page-header-extension>
    <button class="ghost" [disabled]="isEmpty" (wbPress)="restoreAll()">恢复全部</button>
  </wb-page-header-extension>

  <wb-page-content (wbPress)="onContentAreaPressed($event)">
    <wb-recycle-bin-view-word-stack *ngIf="!isEmpty"
      title="最近删除的词条"
      [words]="recentWords$ | async">
    </wb-recycle-bin-view-word-stack>

    <wb-recycle-bin-view-word-stack *ngIf="!isEmpty && hasMore"
      title="其他删除的词条"
      [words]="moreWords$ | async">
    </wb-recycle-bin-view-word-stack>

    <div class="empty-tip" *ngIf="isEmpty">回收站内还没有词条!</div>
  </wb-page-content>
</wb-page>
