@import '~styles/common.less';

:host {
  display: flex;
  color: @color-theme-text;
  font-size: @size-text-smaller;
  min-height: @size-page-header-height;
  line-height: @size-page-header-height;

  ::ng-deep .back-button {
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    transform: translate(0);
    overflow: hidden;

    .icon.back {
      font-size: 12px;
      transform: translateY(1px);
      margin: 0 3px 0 -2px;
    }

    .title {
      font-size: @size-text-normal;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  ::ng-deep .title {
    font-size: @size-text-normal;
  }
}
