@import '~styles/common.less';

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  > .page-header,
  > .page-footer {
    will-change: transform;
    position: relative;
    flex: none;
  }

  > .page-header {
    background-color: @color-theme-xl;
    overflow: hidden;

    > .inner {
      will-change: transform;
      background-color: @color-theme;
      padding-top: constant(safe-area-inset-top);
      padding-top: env(safe-area-inset-top);
    }

    ::ng-deep wb-page-header,
    ::ng-deep wb-page-header-extension {
      padding: 0 12px;
    }

    > .header-extension-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      overflow: hidden;
    }
  }

  > .page-content {
    flex: 1;
    background-color: @color-fg;
    overflow: hidden;
    will-change: opacity;

    .inner {
      height: 100%;
    }

    ::ng-deep wb-page-content {
      padding: 20px 12px;
    }
  }

  > .page-footer {
    background-color: @color-fg-xf;

    ::ng-deep wb-page-footer {
      padding: 10px 12px 12px;
      margin-bottom: constant(safe-area-inset-bottom);
      margin-bottom: env(safe-area-inset-bottom);
    }
  }
}
