<div class="page-header">
  <div class="inner">
    <ng-content select="wb-page-header"></ng-content>
  </div>

  <div class="header-extend-wrapper" [@headerExtendTransitions] *ngIf="expandedHeaderExtend">
    <div class="inner">
      <ng-content select="wb-page-header-extend"></ng-content>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="inner">
    <ng-content select="wb-page-content"></ng-content>
  </div>
</div>

<div class="page-footer">
  <div class="inner">
    <ng-content select="wb-page-footer"></ng-content>
  </div>
</div>
